*{
    box-sizing: border-box;
    font-size: xx-large;
}
#input{
    background-color: #343a40;
    margin: 10px;
    padding: 4px;
    opacity: 0.7;
    color: #faf9f9;
}
.background{
    background-color: rgba(255, 255, 255, 0.541);
    border-radius: 10px ;
}
#container{
    width: 100%;
    background-color: rgb(78, 78, 78);
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
button{
    width: 85px;
    height: 85px;
    opacity:0.7;
}
#equal{
    width: 180px;
}
.blue-color{
    color: aqua !important;
}
div{
    margin: 4px;
}
/*.sec-con{
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}
input{
    font-size: x-large;
}*/